.column{
  width: 300px;
  float: left;
  padding-left: 3.5%;
}

.column h2 {
  text-align: center;
}

.index{
  display: flex;
  justify-content: center;
}
img{
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

hr {
  opacity: 65%;
}