div.work{
  text-align: center;
}

.red {
  color: red;
  font-style: italic;
}

.green {
  color: green;
  font-style: bold;
}

.blue {
  color: blue;
  font-style: bold;
}
.column{
  width: 300px;
  float: left;
  padding: 10px;
}
.index{
  display: flex;
  justify-content: center;
}
img{
  width: 100%;
  height: auto;
}